---
import FormatosLayout from '../../layouts/FormatosLayout.astro';
import CiudadaniaInteractiva from '../../components/interactive/CiudadaniaInteractiva.svelte';
---

<FormatosLayout
  title="Relacionamiento con la Ciudadanía - Estratégicos"
  numero="03"
  tituloHeader="Relacionamiento con la Ciudadanía"
  subtituloHeader="Proceso"
  tipo="estrategico"
  badge="MIPG / Relacionamiento"
  badgeIcon="fas fa-users"
  rutaActual="/estrategicos/ciudadania"
>
  <div class="h-full pb-6">
    <CiudadaniaInteractiva client:load />
  </div>
</FormatosLayout>



